{% extends 'billing/dailyentrypagination.html' %}

{% block title %}DAILY ENTRY
{% endblock title %}

{% block addlinktitle %}DAILY ENTRY
{% endblock addlinktitle %}

{% block table_header %}
    <th>#</th>
    <th>NAME</th>
    <th>COOLER</th>
    <th>DATE</th>
{% endblock table_header %}

{% block table_data %}
    <td>{{ current_page.start_index|add:forloop.counter0 }}</td>
    <td>{{a.name}}</td>
    <td>{{a.cooler}}</td>
    <td>{{a.date_added}}</td>
    
    {% comment %} <td class="text-center">
        <a class="btn btn-primary" href="/banasadmin/paybill/{{a.id}}"><i class="far fa-edit"></i></a> 
        <a class="btn btn-primary" href="/banasadmin/addbill/{{a.id}}"><i class="far fa-edit"></i></a> 
    </td> {% endcomment %}
{% endblock table_data %}
