{% extends 'billing/pagination.html' %}

{% block title %}PAID BILL
{% endblock title %}

{% block tabletitle %}PENDING BILLS
{% endblock tabletitle %}

{% block table_header %}
    <th>#</th>
    <th>NAME</th>
    <th>COOLER</th>
    <th>RATE</th>
    <th>AMOUNT</th>
    <th>PENDING</th>
    <th>SUBTOTAL</th>
    <th>TASK</th>
{% endblock table_header %}

{% block table_data %}
    <td>{{ current_page.start_index|add:forloop.counter0 }}</td>
    <td>{{a.name}}</td>
    <td>{{a.cooler}}</td>
    <td>{{a.rate}}</td>
    <td>{{a.amount}}</td>
    <td>{{a.pending_amount}}</td>
    <td>{{a.subtotal}}</td>
    <td class="text-center">
        {% if a.task == "pending" %}
            <a class="btn btn-primary" href="/#/{{a.id}}"><i class="far fa-credit-card"></i></a> 
        {% else %} 
            {{a.task}}
        {% endif %}
    </td>
    
{% endblock table_data %}

{% comment %} {{a.id}} {% endcomment %}