{% extends 'banasadmin/pagination.html' %}


{% block title %}BILL DASHBOARD
{% endblock title %}

{% block table_title %}GENERATED BILLS
{% endblock table_title %}

{% block table_header %}
    <th>#</th>
    <th>NAME</th>
    <th>COOLER</th>
    <th>RATE</th>
    <th>AMOUNT</th>
    <th>PENDING</th>
    <th>SUBTOTAL</th>
    <th>TASK</th>
    <th>PAY</th>
{% endblock table_header %}

{% block table_data %}
    <td>{{ current_page.start_index|add:forloop.counter0 }}</td>
    <td>{{a.name}}</td>
    <td>{{a.cooler}}</td>
    <td>{{a.rate}}</td>
    <td>{{a.amount}}</td>
    <td>{{a.pending_amount}}</td>
    <td>{{a.subtotal}}</td>
    <td>{{a.task}}</td>
    
    <td class="text-center">
        <a class="btn btn-primary" href="/banasadmin/paybill/{{a.id}}"><i class="far fa-edit"></i></a> 
        <a class="btn btn-primary" href="/banasadmin/addbill/{{a.id}}"><i class="far fa-edit"></i></a> 
    </td>
{% endblock table_data %}

{% comment %} {{a.id}} {% endcomment %}